{% extends "base.html" %}
{% block content %}

    <!-- details section -->
    <section id="game-details">
        <h1>Game Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- game image -->
                <img class="game-img"
                     src="{{ current_game.image_url }}"
                     alt='game image'/>
                <!-- title and rating -->
                <h1>{{ current_game.title }} <span class="levels">Rating: {{ current_game.rating|floatformat:1 }}</span></h1>
                <!-- game category -->
                <p><span class="type">Category: {{ current_game.category }} Game</span></p>
                <!-- game max level (if any) -->
                <p><span class="type">Max Level: {{ current_game.max_level }}</span></p>
            </div>
            <!-- game summary (if any)-->
            <p class="text">
                {{ current_game.summary }}
            </p>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'edit game' current_game.pk %}" class="button">Edit</a>
                <a href="{% url 'delete game' current_game.pk %}" class="button">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}