{% extends "base.html" %}
{% block page %}

        <!-- Add Book Page -->
        <section id="create-page" class="create">
            <form id="create-form" action="{% url "book add" %}" method="POST">
                <fieldset>
                    <legend>Add New Book</legend>
                    {{ form }}
                    {% csrf_token %}
                    <input class="button submit" type="submit" value="Add Book">
                </fieldset>
            </form>
        </section>

{% endblock %}
